body{
    background-color: hsl(228, 33%, 97%);
}

.comment {
    background-color: white;
    width: 80%;
    margin: 2em;
    margin:2em 2em 2em 2em;
    padding: 15px;
    display: flex;
    border-radius: 15px;
}

.commentReply{
    background-color: white;
    width: 80%;
    margin: 2em;
    padding: 15px;
    display: flex;
    border-radius: 15px;
}

.col-1 {
    background-color: hsl(228, 33%, 97%);
    border-radius: 20px;
    padding:0px;
    margin: auto;
    margin-right: 1.5em;
} 

.upVoteBtn{
    border-radius: 9px 9px 0 0;
}

.upVoteBtn, .downVoteBtn {
    font-size: 18px;
    font-weight: bold;
    border:0px;
    padding:5px;
    background-color: hsl(228, 33%, 97%);
    color: #5357B6;
    
}

.upVoteBtn:hover, .downVoteBtn:hover{
    cursor: pointer;
    color:hsl(239, 57%, 85%)
} 

.downVoteBtn{
    border-radius: 0 0 9px 9px;
}

.replyContainer{
    margin-left: 3.5em;
    border-left: 1px solid hsl(239, 57%, 85%)
}

.votes{
    margin: auto;
    text-align: center;
    color: hsl(238, 40%, 52%);
    font-weight:200;
}

.col-2 {
    flex: 1;  
}

.profileInfo{
    display: grid;
    margin-right: 0%;
    grid-template-columns: 70px 100px 20% 1fr;
}
.profilePic{
    min-width: fit-content;
}

.date{
    color:hsl(211, 10%, 45%);
    display:grid;
}
.name{
    display: grid;
    text-align: center;
    font-weight: bold;
}
.reply{
    text-align: right;
    display: grid;
}
.replyText{
    color:hsl(238, 40%, 52%);
    padding: 10px;
}
.replyBtn{
    background-color: white;
    border:0px;
}
.replyBtn>svg{
    fill:#5357B6
}
.replyBtn:hover>svg{
    cursor: pointer;
    fill:hsl(239, 57%, 85%)
}
.replyBtn:hover>span{
    cursor: pointer;
    color:hsl(239, 57%, 85%);
}

/* .replyBtn:hover>svg{
    color:hsl(239, 57%, 85%);
} */
/* /* span{
    display: inline-block;
    width: fit-content;
} */
/* 
.name{
    float:left;
}  */



/* 
Send Btn: hsl(238, 40%, 52%)
delete Btn: hsl(358, 79%, 66%)
delete btn click:  hsl(357, 100%, 86%)

*/