body{
    background-color: hsl(228, 33%, 97%);
}

.comment {
    background-color: white;
    width: 80%;
    margin: 2em;
    margin:2em 2em 2em 2em;
    padding: 15px;
    display: flex;
    border-radius: 15px;
}

.commentReply{
    background-color: white;
    width: 80%;
    margin: 2em;
    padding: 15px;
    display: flex;
    border-radius: 15px;
}

.col-1 {
    background-color: hsl(228, 33%, 97%);
    border-radius: 20px;
    padding:0px;
    margin: auto;
    margin-right: 1.5em;
} 

.upVoteBtn{
    border-radius: 9px 9px 0 0;
}

.upVoteBtn, .downVoteBtn {
    font-size: 18px;
    font-weight: bold;
    border:0px;
    padding:5px;
    background-color: hsl(228, 33%, 97%);
    color: #5357B6;
    
}

.upVoteBtn:hover, .downVoteBtn:hover{
    cursor: pointer;
    color:hsl(239, 57%, 85%)
} 

.downVoteBtn{
    border-radius: 0 0 9px 9px;
}

.atYou{
    font-weight: bold;
    color:hsl(238, 40%, 52%)
}

.replyContainer{
    margin-left: 3.5em;
    margin-right: 1em;
    border-left: 2px solid hsla(239, 57%, 85%, .5);
}

.commentGrid{
    display:grid;
    grid-template-rows: 150px;
    grid-template-columns: 90px 7fr 1fr;
}
#sendBtnAlign{
    text-align: left;
}
#sendBtn{
    text-align: right;
    background-color: #5357B6;
    width:80px;
    height: 40px;
    text-align: center;
    font-weight: bold;
    color: white;
    border: 0px;
    border-radius: 10px;
    margin-right: 1.75em;
    margin-left: -2.25em;
}

#sendBtn:hover{
    cursor: pointer;
    background-color: hsl(239, 57%, 85%);
}

#addComment{
    border: 1.5px solid hsla(239, 57%, 85%, .5);
    border-radius: 10px;
    height: 200px;
}

img{
    height: 40px;
    width: 40px;
}

#addComment:hover{
    cursor: pointer;
}

#addComment{
    width:90%;
    height:90%
}
.votes{
    margin: auto;
    text-align: center;
    color: hsl(238, 40%, 52%);
    font-weight:200;
}

.col-2 {
    flex: 1;  
}

.profileInfo{
    display: grid;
    margin-right: 0%;
    grid-template-columns: 50px 100px 20% 1fr;
}

.profileInfoYou{
    display: grid;
    margin-right: 0%;
    grid-template-columns: 50px 115px 20% 1fr;
}

#you{
    background-color: hsl(238, 40%, 52%);
    color: white;
    font-weight: bold;
    display:inline-block;
    padding-left:4px;
    padding-right:4px;
    padding-bottom: 2px;
    border-radius: 3px;
}


.profilePic{
    min-width: fit-content;
}

.date{
    color:hsl(211, 10%, 45%);
    display:grid;
}
.name{
    display: grid;
    text-align: center;
    font-weight: bold;
}
.reply{
    text-align: right;
    display: grid;
}
.replyText{
    color:hsl(238, 40%, 52%);
    padding: 10px;
    font-weight: bold;
}
.replyBtn{
    background-color: white;
    border:0px;
}
.replyBtn>svg{
    fill:#5357B6
}
.replyBtn:hover>svg{
    cursor: pointer;
    fill:hsl(239, 57%, 85%)
}
.replyBtn:hover>span{
    cursor: pointer;
    color:hsl(239, 57%, 85%);
}


.deleteText{
    color:hsl(358, 79%, 66%);
    padding: 10px;
    font-weight: bold;
}
.deleteBtn{
    background-color: white;
    border:0px;
}
.deleteBtn>svg{
    fill:hsl(358, 79%, 66%)
}
.deleteBtn:hover>svg{
    cursor: pointer;
    fill:hsl(357, 100%, 86%)
}
.deleteBtn:hover>span{
    cursor: pointer;
    color:hsl(357, 100%, 86%);
}
/* .replyBtn:hover>svg{
    color:hsl(239, 57%, 85%);
} */
/* /* span{
    display: inline-block;
    width: fit-content;
} */
/* 
.name{
    float:left;
}  */



/* 
Send Btn: hsl(238, 40%, 52%)
delete Btn: hsl(358, 79%, 66%)
delete btn click:  hsl(357, 100%, 86%)

*/